@model SettingDTO

<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />

<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Terms Of Service</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Terms Of Service Field</h6>
        </div>
        <div style="color: black;" class="card-body">
            <form asp-action="AddEditTOS" asp-controller="Setting" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <label for="Key">Terms Of Service</label>
                    <input name="Key" type="hidden" value="TOS" />
                    <div id="editor">
                        @if (Model != null)
                        {
                            @if (Model.Translations != null && Model.Translations.Count > 0)
                            {
                                @Html.Raw(@Model.Translations[0].Value)
                            }
                        }
                    </div>
                    <input name="Translations[0].Value" type="hidden" id="EditorContent" />
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-success">Save</button>
                    <a href="@Url.Action("Index", "Setting")" class="btn btn-warning">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

<script>
    const quill = new Quill('#editor', {
        placeholder: 'Input your terms of service here...',
        theme: 'snow'
    });

    document.querySelector('form').onsubmit = function () {
        console.log('Submitted');
        var editorContent = document.getElementById("EditorContent");
        console.log(quill.root.innerHTML);
        console.log(quill.getText(0));
        console.log(quill.getSemanticHTML(0));
        editorContent.value = quill.root.innerHTML;
    };
</script>
