@model User
<div class="container-fluid">
    <h1 style="color:black">Update Balance for @(Model.FullName is not null ? Model.FullName : Model.UserName)</h1>
    <div class="col-md-12 text-center">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Update Balance Details</h6>
        </div>
        <div style="color: black;" class="card-body">
            <form method="post" asp-action="UpdateBalance">
                <div class="form-group col-md-6">
                    <label style="color:black" asp-for="Balance">New Balance</label>
                    <input type="number" class="form-control" id="Balance" name="addBalance" step="0.01" />
                </div>

                <div class="form-group" style="margin-left: 0.7rem;">
                    <button type="submit" class="btn btn-primary">Update Balance</button>
                    <a class="btn btn-secondary" href="javascript:history.back()">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
